.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px auto;
    position: sticky;
    top: 0;
    background-color: var(--black);
    box-shadow: grey ;
    z-index: 1000;
  }
  .title{
    left: 30px;
  }
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .link {
    font-size: 0.8rem;
    color: var(--grey);
    font-weight: 600;
    cursor: pointer;
  }
  
  .link:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
    color: white;
  }
  .drawer-component {
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    .links {
      display: none;
    }
  
    .drawer-component {
      display: block;
    }
  
    .header {
      padding: 0.5rem 1.5rem;
    }
    .link:hover{
      -ms-transform: scale(1);
    -webkit-transform: scale(1); 
    transform: scale(1); 
        color: var(--white);
    }
    .drawer-div {
      width: 40vw;
      background-color: var(--black);
      height: 100vh;
      padding: 0.5rem 1.5rem;
    }
  }